@import '../../../variables';

.info {
  position: relative;
  z-index: 1;
  width: 50%;
  padding: 5rem 0 5rem 1rem;

  .additional {
    display: flex;
    align-items: center;
    color: $gray;
    margin: 1rem 0 2rem;

    > span {
      margin-right: 1rem;
      font-size: 18px;
    }
  }

  .description {
    font-size: 18px;
    color: $gray;
    margin-bottom: 3rem;
    line-height: 1.65;
  }
}
